body {
	background-color: darkcyan;
	text-align: center;
}

button {
	display: inline-block;
	width: 150px;
	height: 40px;
	font-size: 22px;
	border-radius: 20px;
	margin: 20px 5px;
}

#text {
	background-color: darkgray;
	width: 300px;
	height: 70px;
	margin: 50px auto;
	font-size: 22px;
}